


.blog-container{

        .blog-nav{
            overflow-x: hidden;
            
            
            .cat-button{
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: .4s ease-in-out;


                &> path{
                    transition: .4s ease-in-out;
                    transform: scale(.9);
                    margin: auto;
                }
                &:hover{


                    &> path{
                        transform: scale(1);
                        fill: $rost;
                    }
                }
            }
            .ul-container{
                width: calc(100% - 100px);
                margin: auto;
                overflow-x: hidden;
                scroll-behavior: smooth;
                    ul{
                        // display: grid;
                        // grid-template-columns: repeat(2, 1fr);
                        // gap: 2rem;
                        display: flex;
                        justify-content: space-between;

                        .clicked{
                            
                            div{
                                width: 100%;
                            }
                        }

        
                        li{
                            flex-shrink: 0;
                            margin-right: 20px;

                            div{
                                transition: .3s ease-in-out;
                                height: 2px;
                            }

                            &:hover{

                                div{
                                    width: 100%;
                                }
                            }
                        }
                        .blog-link{
                            
                                a{
                                    transition: ease-in-out .4s;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    .icon-hover > path{
                                        transition: ease-in-out .4s;
                                        transform: translateX(-10px);
                                    }
                                    &:hover {
                                        color: $rost;
                            
                                            &> .icon-hover > path{
                                                fill: $rost;
                                                font-size: 20px;
                                                transform: translateX(0);
                                            }
                                    }
                                }
                        }
                    }
            }
        }


        .card-container{
                .category_card{

                        .topTax{
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                        }
                }
                .card-grid{
                    display: grid;
                    gap: 4rem;

                    .service-img{
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                    .grid-item{
                        min-height: 40vh;
                    }
                }
        }
}


@media screen and (min-width: 1324px) {
    .blog-container{

        .blog-nav{
            .ul-container{
                width: 100%;
                margin: auto;
                overflow-x: hidden;
            
                ul{
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;

                    li{
                        margin-right: 0;
                    }
                }
            }
        }


        .card-container{

                .card-grid{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 4rem;

                    .form-item{
                        grid-column: span 2;
                    }

                    &:nth-child(even){
                        .grid-item{

                            &:nth-child(even){
                                grid-column-start: 1;
                                grid-row-start: 1;
                            }

                            &:nth-child(odd){
                                grid-column-start: 2;
                                grid-row-start: 1;
                            }
                       }
                    }

                    &:nth-child(odd){

                        .grid-item{

                             &:nth-child(even){
                                grid-column-start: 2;
                                grid-row-start: 1;
                             }

                             &:nth-child(odd){
                                grid-column-start: 1;
                                grid-row-start: 1;
                             }
                        }
                    }
                }
        }
}
}

