


.blog-container{

        .blog-nav{
            ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                .blog-link{
                    
                        a{
                            transition: ease-in-out .4s;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            .icon-hover > path{
                                transition: ease-in-out .4s;
                                transform: translateX(-10px);
                            }
                            &:hover {
                                color: $rost;
                    
                                    &> .icon-hover > path{
                                        fill: $rost;
                                        font-size: 20px;
                                        transform: translateX(0);
                                    }
                            }
                        }
                }
            }
        }


        .card-container{

                .card-grid{
                    display: grid;
                    gap: 4rem;

                    .service-img{
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                    .grid-item{
                        min-height: 40vh;
                    }
                }
        }
}

@media screen and (min-width: 760px) {
    .blog-container{
        .blog-nav{
            ul{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .blog-container{

        .blog-nav{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
        }


        .card-container{

                .card-grid{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 4rem;

                    .form-item{
                        grid-column: span 2;
                    }

                    &:nth-child(even){
                        .grid-item{

                            &:nth-child(even){
                                grid-column-start: 1;
                                grid-row-start: 1;
                            }

                            &:nth-child(odd){
                                grid-column-start: 2;
                                grid-row-start: 1;
                            }
                       }
                    }

                    &:nth-child(odd){

                        .grid-item{

                             &:nth-child(even){
                                grid-column-start: 2;
                                grid-row-start: 1;
                             }

                             &:nth-child(odd){
                                grid-column-start: 1;
                                grid-row-start: 1;
                             }
                        }
                    }
                }
        }
}
}

