    .reverse{
        &> .b{
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }

    .info_section{

            .a{

                 .crazy{
                    height: 500px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-template-rows: repeat(9, 1fr);
                    gap: 10px;

                        .gallery_img{
                            position: relative;
                            &:nth-child(1){
                                grid-column: span 4;
                                grid-row: span 3;
                            }
                            &:nth-child(2){
                                grid-column: span 3;
                                grid-row: span 6;
                            }
                            &:nth-child(3){
                                grid-column: span 4;
                                grid-row: span 6;
                            }
                            &:nth-child(4){
                                grid-column: span 3;
                                grid-row: span 3;
                            }

                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                        }
                 }
                 .regular{
                    height: 400px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    gap: 10px;

                        .gallery_img{
                            position: relative;
                            &:nth-child(1){
                                grid-column: span 4;
                                grid-row: span 3;
                            }
                            &:nth-child(2){
                                grid-column: span 4;
                                grid-row: span 3;
                            }
                            &:nth-child(3){
                                grid-column: span 4;
                                grid-row: span 3;
                            }
                            &:nth-child(4){
                                grid-column: span 4;
                                grid-row: span 3;
                            }
                        }
                 }
            }

            .b{

                    .info-link{
                        width: 100%;
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        transition: ease-in-out .4s;
                            a{
                                font-family: 'Urbanist-Italic', sans-serif;
                            }
                            .icon-hover > path{
                                transition: ease-in-out .4s;
                                transform: translateX(-14px);
                            }
                                &:hover {
                                    color: $rost;
        
                                        &> .icon-hover > path{
                                            fill: $rost;
                                            font-size: 20px;
                                            transform: translateX(0);
                                        }
                                }
                    }
            }
    }