//colors
$rost: #8E443D;
$white: #ffffff;
$black: #0C0C0C;
$green: #0f4127cc;
$elite: 'Special Elite', cursive;
body{
    overflow-x: hidden !important;
}
.icons{
    margin: 0 !important;
}
.hero-link{
    transition: ease-in-out .4s;
        .icon-hover > path{
            transition: ease-in-out .4s;
            transform: translateX(-10px);
        }
        &:hover {
            color: $rost;

                &> .icon-hover > path{
                    fill: $rost;
                    font-size: 20px;
                    transform: translateX(0);
                }
        }
}
// .hero-link:hover{
//     transform: scale(1.1);
// }
// .hero-link:hover > .icon-hover > path{
//     fill: $rost;
//     font-size: 20px;
// }

@font-face{
    font-family: 'Special Elite';
    src: url(../public/fonts/Special_Elite/SpecialElite-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist';
    src: url(../public/fonts/Urbanist/static/Urbanist-Light.ttf);
    font-weight: 300;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist';
    src: url(../public/fonts/Urbanist/static/Urbanist-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist-Italic';
    src: url(../public/fonts/Urbanist/static/Urbanist-Italic.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist';
    src: url(../public/fonts/Urbanist/static/Urbanist-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist';
    src: url(../public/fonts/Urbanist/static/Urbanist-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

@font-face{
    font-family: 'Urbanist';
    src: url(../public/fonts/Urbanist/static/Urbanist-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

h1, h2, h3, h4, h5, a, .special-elite{
    font-family: 'Special Elite', cursive;
}

p, .urbanist{
    font-family: 'Urbanist', sans-serif;
}

.aplate-bg{
    background-color: $black;
}

.my-hover{

    &:hover{
        color: $rost;
    }
}

.button{
    border: 2px solid $white;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    min-width: 222px !important;
    max-width: 222px !important;
    padding: 15px;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    transition: ease-in-out .4s;
    text-align: center;
        &:hover{
            transform: scale(1.1);
            color: $rost;
            border: 2px solid $rost;
        }
}

@import 'layout/header/nav';
@import 'layout/header/hero';
@import 'blocks/blurbs';
@import 'blocks/jumbotron';
@import 'blocks/infoSection';
@import 'blocks/imageLink';
@import 'blocks/blog';